*.DS_Store

.classpath
.project
.idea
*.iml
.metadata
.settings/
classes
test-classes
bin
build
.pmd
target
.sonar

/target
/bin/**
.swp
*/build-framework/.build-jar.xml.swp
/qa_build_deploy.bat
/test.log
/test.bat
/log.txt
